*{background-color: 
    rgb(255, 255, 255);}
body{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    height: 100;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
header img{
    width: 220px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid red
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0%;
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.center {
    text-align: center;
}
footer  img{
    width: 40px;
    height: 40;
}
footer {
    display: flex;
    justify-content: center;
}
footer a {
    margin: 20px;
}
footer p {
    margin-top: 2px;
}
nav a:hover {
    color: red
}